.form {
    padding: 0 2rem;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap:24px;
  }

  .inputGroup
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
  }
  
  .inputGroup input
  {
    width: 100%;
    height: 35px;
    padding: 10px;
    background: rgb(42, 44, 63);
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 10px;
  }

  .inputGroup input:focus
  {
    outline: solid 2px rgb(248, 2, 174);
  }

  .inputGroup label
  {
    font-family: 'Monoton', cursive;
    font-size: 22px;
    color: #fff;
  }

  .GameButton
  {
    width: 80px;
    height: 80px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monoton', cursive;
    font-size: 14px;
    color: #fff;
    background: rgb(42, 44, 63);
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
  }

  .GameButton:hover
  {
    outline: solid 2px rgb(248, 2, 174);
    color: rgb(248, 2, 174);
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  